*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
/* body style */

body{ 
    max-width: 1600px;
    background-color:rgb(255, 255, 255);
    margin: auto;
}

/* header end nav style */


.hr_header_style{
    border: solid 3px cadetblue;
}

a{
   text-decoration: none;
   color: rgb(21, 22, 19);
}


.nav_container{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

ul.nav_ul{
    margin: 0;
}
.nav_style{
    background-color: #C9CACD;
}

.logo_style{
    width: 100px;
    margin-left: 0;
    padding: 5px 20px 5px 20px;
}

.icone_mie{
   padding: 10px; 
   color: #FF642D;
}

.nav_links{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pushster', cursive;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding: 5px 20px 5px 20px;
}

ul .nav_links a:hover{
    color: #D0B9AF;
    transition: 0.5s;

}
/* end header end nav style */
  

/* start main style */

main{
    background-color: #C9CACD;

}

.title_container{
    width: 80%;
}
.title_style{
    color: rgb(80, 7, 7);
    font-family:'pushster';
    font-weight: 500;
    font-size: 80px;
}



.title_container p{
   
    font-size: 25px;
    color:black ;
  
    
    border-radius: 10px;
}

.map {
 
   
  
}

/* UTILITY CLASS */

.p_5{
    padding: 5px;
}
.m_10{
    margin: 10px;
}
.card img{
    min-width: 50px;
    height: 150px;
    max-width: 288px;
    object-fit: cover;

}

