*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    max-width: 1220px;
   
   
}
.hr_header_style{
  
    border: solid 3px cadetblue;
}
a{
   text-decoration: none;
   color: darkolivegreen;
}
.nav_style{
    background-color: darkorange;
   

}
.nav_container{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    
}

ul.nav_ul{
    margin: 0;
}
.logo_style{
    width: 100px;
    margin-left: 0;
    padding: 5px 20px 5px 20px;
}
.icone_mie{
   padding: 10px; 
}


.nav_links{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pushster', cursive;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding: 5px 20px 5px 20px;
}
ul .nav_links a:hover{
    color: cornsilk;
    transition: 0.5s;

}

